@using Project21AS.Client.States
@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider

<nav class="sidebar @(sidebarClosed ? "close" : "")">
    <header>
        <div class="image-text">
            <span class="image">
                <a href="/"> <img src="/Image/logo.png" alt=""> </a>
            </span>

            <div class="text logo-text">
                <span class="name">DR World</span>
                <AuthorizeView>
                    <Authorized>
                        <span class="profession">
                            @context.User.Identity.Name
                            <a href="profile" style="margin-left:2px;"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                        </span>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>

        <i class='bx bx-chevron-right toggle' @onclick="toggleSideMenu"></i>
    </header>

    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                <li class="">
                    <a href="/">
                        <i class='bx bx-home-alt icon' title="Home/Dashboard"></i>
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>

                <li class="">
                    <a href="students">
                        <i class="fa fa-building-o icon" aria-hidden="true" title="Student List"></i>
                        <span class="text nav-text">Student List</span>
                    </a>
                </li>

                <li class="">
                    <a href="batches">
                        <i class="fa fa-users icon" aria-hidden="true" title="Batch List"></i>
                        <span class="text nav-text">Batch  List</span>
                    </a>
                </li>

                <li id="driverMenu" class="submenu @(driverMenuOpen ? "active" : "")">
                    <div class="menu-link" @onclick="toggleDriverMenu">
                        <i class='bx bx-download icon' title="Download"></i>
                        <span class="text nav-text">Drivers</span>
                        <i class='bx bx-chevron-down arrow @(driverMenuOpen ? "rotated" : "")'></i>
                    </div>
                    <ul class="sub-menu @(driverMenuOpen ? "show" : "")">
                        <li>
                            <a href="Downloads/Mantra_MSF100_Drivers.zip">
                                <i class='bx bx-file-blank icon'></i>
                                <span class="text nav-text">MSF100</span>
                            </a>
                        </li>
                        <li>
                            <a href="Downloads/MF220U_Drivers.zip">
                                <i class='bx bx-file-blank icon'></i>
                                <span class="text nav-text">MF220U</span>
                            </a>
                        </li>
                    </ul>
                </li>
               

                <AuthorizeView Roles="SuperAdmin,Admin">
                    <li class="">
                        <a href="admin-controls">
                            <i class="fa fa-lock icon" aria-hidden="true" title="Admin Control"></i>
                            <span class="text nav-text">Admin Control</span>
                        </a>
                    </li>
                </AuthorizeView>
            </ul>
        </div>

        <div class="bottom-content">
            <li class="">
                <a @onclick="LogoutClick" style="cursor:pointer">
                    <i class='bx bx-log-out icon' title="Logout"></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>

            <li class="mode">
                <div class="sun-moon">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark mode</span>

                <div class="toggle-switch" @onclick="toggleLightDarkMode">
                    <span class="switch"></span>
                </div>
            </li>
        </div>
    </div>
</nav>


@code {
    private bool sidebarClosed = true;
    private bool driverMenuOpen = false;
    private bool settingsMenuOpen = false;

    async Task LogoutClick()
    {
        await authStateProvider.Logout();
        navigationManager.NavigateTo("/login");
    }

    async Task toggleSideMenu()
    {
        sidebarClosed = !sidebarClosed;
        await JSRuntime.InvokeVoidAsync("toggleSideManu");
        StateHasChanged();
    }

    async Task toggleDriverMenu()
    {
        driverMenuOpen = !driverMenuOpen;
        await JSRuntime.InvokeVoidAsync("toggleSubMenu", "driverMenu");
        StateHasChanged();
    }

    async Task toggleSettingsMenu()
    {
        settingsMenuOpen = !settingsMenuOpen;
        await JSRuntime.InvokeVoidAsync("toggleSubMenu", "settingsMenu");
        StateHasChanged();
    }

    async Task toggleLightDarkMode()
    {
        await JSRuntime.InvokeVoidAsync("toggleLightDarkMode");
    }
}